<h2>Editar informações do livro:</h2>
<h1>{{book.title}}</h1>
<div class="container">
    <form action="/books/updatebook" method="post">

        <input type="hidden" name="id" value="{{book.id}}">

        <div class="form-control">

            <label for="title">Título</label>
            <input type="text" name="title" value="{{book.title}}">

        </div>

        <div class="form-control">

            <label for="pages">Atualizar quantidade de páginas</label>
            <input type="number" name="pages" value="{{book.pages}}">

        </div>

        <input type="submit" value="Editar">
        
    </form>
</div>
