<div class="container">
<h1>Cadastre seu livro:</h1>
<form action="/books/insertbook" method="post">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite o título...">
    </div>
    <div class="form-control">
        <label for="pages">Quantidade de Páginas</label>
        <input type="number" name="pages" placeholder="Quantidade de páginas...">
    </div>
    <input type="submit" value="Cadastrar">
</form>
</div>
