<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handle bars</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/insertbook">Cadastrar</a>
        <a href="/books">Livros</a>
    </nav>
    {{{body}}}
    <footer>
        <p>Tchuby.Co</p>
    </footer>
</body>
</html>