{{#with post}}
    <h1>{{title}}</h1>
    <p>{{category}}</p>
    <p>{{body}}</p>
    <p>Comentários:</p>
    <ul>
        {{#each comments}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{/with}}
<a href="/blog">Posts</a>
